/* Style for the items (Screens and Movies) section */
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .items h1 {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  .item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
    width: 300px;
    transition: background-color 0.3s ease;
  }
  
  .item:hover {
    background-color: #ff9e9e;
  }
  
  .item p {
    margin: 5px 0;
  }
  
  .selected {
    background-color: #007bff;
    color: #fff;
  }